h2{
  text-align: center;
}
.board{
  max-width: 600px;
  min-height: 600px;
  margin: 0 auto;
  border: 1px solid red;
  display: flex;
}
.board-row{
  width: 100%;

}
.square{
  border: 1px solid green;
  height: 70px;
}